# Exploratory Data Analysis
- Michael Vincent
- 9/20

## Imports

In [1]:
# Imports
import numpy as np
import pandas as pd

## Load the data

In [2]:
# Load the data frames
df_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz', index_col = 'imdb_id')
df_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz', index_col = 'imdb_id')

# Concatenate the data frames into one data frame
df = pd.concat([df_2000, df_2001], axis = 0)
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
imdb_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,NaN
tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,"Hong Kong, 1962: Chow Mo-Wan and Su Li-Zhen mo...",...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.111,1978.0,PG

In [3]:
# The first row is an artifact from the JSON file, so we drop it.
df.drop(['0'], inplace = True)

## Data analysis

In [4]:
# Find the number of movies with some valid financial information
filter = (df['budget'] > 0) & (df['revenue'] > 0)
print('There are', len(df[filter]), 
      'movies with some valid financial information.')

There are 349 movies with some valid financial information.

In [6]:
# Find the number of movies with each rating.
df['certification'].value_counts()

R          452
PG-13      181
NR          66
PG          64
G           24
NC-17        6
Unrated      1
-            1
Name: certification, dtype: int64

In [25]:
# Get the average budget by certification
avg_budget = df.groupby('certification')['budget'].mean().round()
avg_budget.sort_values(ascending = False)

certification
PG-13      31231536.0
PG         24597656.0
G          23833333.0
R           9998904.0
NR          1622729.0
-                 0.0
NC-17             0.0
Unrated           0.0
Name: budget, dtype: float64

In [26]:
# Get the average revenue by certification
avg_revenue = df.groupby('certification')['revenue'].mean().round()
avg_revenue.sort_values(ascending = False)

certification
G          72163319.0
PG-13      71608340.0
PG         61435347.0
R          16821129.0
NR          2289235.0
-                 0.0
NC-17             0.0
Unrated           0.0
Name: revenue, dtype: float64